{% extends 'dummy.html' %}
{% block title %}
    <title>user_login page</title>
{% endblock %}

{% block body_block %}
    <center>
        <form method="POST">
            {% csrf_token %}
            <h1>Welocme to user_login Page </h1>
            <label for="un">Username</label>
            <input type="text" name="un" id="un"><br><br>
            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="login" class="btn btn-success">
        </form>

    </center>
{% endblock %}